$white: #FBFBFB;
$black: #323232;



.navbar-custom {
    padding: 15px 2px;

    .setting-icon {
        font-size: 1.4rem;
        transform: rotate(0deg);
        color: $black;
        transition: 0.5s all;
    }

    .setting-icon:hover {
        transform: rotate(25deg);
        font-size: 1.5rem;
        transition: 0.3s all;
    }
}